5onpi
# // *INDENT-OFF* else cleaner adds whitespace around dashes
*.pro.user
build-*
*unc-backup*
lib*.a
svnrevision.txt
svnbranch.txt
*.bak
*.autosave
*~
*.o
.qmake.stash
Makefile
tests/tests
tests/.qtc_clangd/
.fslckout
safely.qws
git.branch
git.hash
cmake-build-debug/
